.tools-container {
   
    bottom: 20px;
    right: 10px;
    left: 20px
}
/* Background Gradient for Monochromatic Colors */
.tools-container
{
    background-color: #FFCB9C;
    /* For WebKit (Safari, Chrome, etc) */
    background: #FFCB9C -webkit-gradient(linear, left top, left bottom, from(#8F4401), to(#FFCB9C)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #FFCB9C -moz-linear-gradient(top, #8F4401, #FFCB9C) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#8F4401, endColorstr=#FFCB9C) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#8F4401, endColorstr=#8F4401)" no-repeat;
}

