img {
    vertical-align: middle;
    border-style: none;
    width: 100%;
}

.dropdown-menu {
	padding: 10px;
	.dropdown-link {
		display: block;
		color: #343a40;
		text-decoration: none;
		padding: 10px;
		border-bottom: 1px solid rgba(0,0,0,.3);
		&:last-child {
			border-bottom: none;
		}
		&:hover {
			color: #a4c83a;
		}
	}
}

nav.navbar {
	position: absolute;
	width: 100%;
	z-index: 100;
	.navbar-brand {
		max-width: 50%;
		width: 200px;
	}
}

.mdc-button, a {
	&:hover {
		text-decoration: none;
	}
}