img {
  vertical-align: middle;
  border-style: none;
  width: 100%; }

.dropdown-menu {
  padding: 10px; }
  .dropdown-menu .dropdown-link {
    display: block;
    color: #343a40;
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3); }
    .dropdown-menu .dropdown-link:last-child {
      border-bottom: none; }
    .dropdown-menu .dropdown-link:hover {
      color: #a4c83a; }

nav.navbar {
  position: absolute;
  width: 100%;
  z-index: 100; }
  nav.navbar .navbar-brand {
    max-width: 50%;
    width: 200px; }

.mdc-button:hover, a:hover {
  text-decoration: none; }
