$mdc-theme-primary: #333399;
$mdc-theme-secondary: #ffab40;
$mdc-theme-background: #000000;
// @import 'material-components-web/material-components-web';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
