.LessonsPage .lessons-image {
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; }

.LessonsPage .mdc-grid-tile {
  --mdc-grid-list-tile-width: 400px; }

.LessonsPage .LessonTile {
  cursor: pointer; }

.mdc-grid-list--twoline-caption .mdc-grid-tile__secondary {
  height: 100px; }

.relative {
  position: relative; }

.btn-favorite {
  position: absolute;
  left: 5px;
  bottom: 5px; }

.cld-main {
  width: 100%; }
  .cld-main .cld-day {
    min-height: 80px; }
