.LessonsPage .mdc-grid-tile {
  --mdc-grid-list-tile-width: 400px; }

.LessonsPage .LessonTile {
  cursor: pointer; }

.mdc-grid-list--twoline-caption .mdc-grid-tile__secondary {
  height: 100px; }

.relative {
  position: relative; }

.btn-favorite {
  position: absolute;
  left: 5px;
  bottom: 5px; }
