.ClassCard title{
font-family: sans-serif;
 font-size: 30px;
}
LessonPage img{
 width: 1000;
 -ms-high-contrast-adjust: auto;
 position: sticky;
}
LessonPage description{
font-family: sans-serif;
font-size: 20px;
text-align: left;
}
LessonPage button{
    color: green;
}
LessonPage img {
  width: 1000px; }
