/* The hero image */
.homepage-image {
  /* The image used */
  background-image: url("https://images.unsplash.com/photo-1463082459669-fd1ca1692fea?ixlib=rb-0.3.5&s=c5c76553f649464a7a4208b64b15d5da&auto=format&fit=crop&w=1050&q=80");
  /* Set a specific height */
  width: 100vw;
  height: 100vh;
  min-height: 350px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-top: -78px;
  display: block; }

/* Place text in the middle of the image */
.homepage-text {
  text-align: left;
  position: absolute;
  top: 50%;
  left: 5%;
  font-family: Roboto;
  transform: translate(0%, calc(-50% + 50px));
  color: white;
  text-shadow: -3px 3px 5px black;
  max-width: 100%;
  min-width: 50%; }
  .homepage-text h1 {
    font-size: 100px; }
  .homepage-text img {
    filter: drop-shadow(3px 3px 5px black);
    width: 100%; }

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
