.form-container {
      border-style: solid;
      padding-left: 30px;
      padding-right: 10px;
      padding-bottom: 10px;
      background: rgba(white, .6);
      color: #575454;
     
}

legend {
	text-align: center;
	font-weight: bold;
}

.jumbotron {
    background: rgba(white, .6);
    color: #575454;
}

.contact-page {
	 background-image: url("https://images.unsplash.com/photo-1499744349893-0c6de53516e6?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=84880dc4212923caf0aa8a5df829344e&auto=format&fit=crop&w=1049&q=80");
}